<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutGap="7px">
    <div class="imgLogoWrapper">
      <a routerLink="/" class="imgLogoLink">
        <img src="/assets/img/logo.svg" alt="">
      </a>
    </div>
    <div class="logoText">
      <a class="logoText" routerLink="/">Senton</a>
    </div>
  </div>
  <span class="example-spacer"></span>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/play" routerLinkActive="activeLink">Играть</a>
      </li>
      <li>
        <a routerLink="/rules" routerLinkActive="activeLink">Правила</a>
      </li>
      <li>
        <a routerLink="/server-list" routerLinkActive="activeLink">Сервера</a>
      </li>
      <li>
        <a routerLink="/shop" routerLinkActive="activeLink">Донат</a>
      </li>
      <li>
        <a routerLink="/faq" routerLinkActive="activeLink">FAQ</a>
      </li>
    </ul>
  </div>
  <div class="loginSection" fxHide.xs>
    <button class="loginButton"
            (click)="openDialog()">
      Войти
    </button>
  </div>
  <div fxHide.gt-xs class="headerButton">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
