<h3>Корзина</h3>

<div class="product-container">
  <div class="cart-item cart-header">
    <span>Название товара</span>
    <span>Количество</span>
    <span>Цена</span>
  </div>
  <div class="cart-item" *ngFor="let item of items | keyvalue">
    <span>{{ item.key.title }} </span>
    <span>{{ item.value }} </span>
    <span>{{ item.key.price * item.value }}</span>
  </div>
  <div class="cart-item cart-header">
    <span></span>
    <span>Итого:</span>
    <span>{{ totalPrice }}</span>
  </div>
</div>
