<section class="playTile">
  <h2>Быстрый старт</h2>
  <div class="playInstruction">
    <div class="listItem">
      <p>1) Зарегистрируйтесь, прочитая <span>правила</span> сервера</p>
    </div>
    <div class="listItem">
      <p>2) Скачайте наш лаунчер</p>
      <a href="#">
        <img src="assets/img/windows.svg" alt="">
      </a>
    </div>
    <div class="listItem">
      <p>3) Когда скачаете лаунчер, введите свой логин и пароль, который вы указали при регистрации</p>
    </div>
    <div class="listItem">
      <p>4) Выберите сервер и нажмите <span>играть</span></p>
    </div>
  </div>
  <div class="enjoyGameSignWrapper">
    <span class="enjoyGameSign">Приятной игры!</span>
  </div>
</section>
