<section class="server-rules">
  <div class="rulesContainer">
    <div class="headerWrapper">
      <mat-icon [ngStyle]="{'color': '#ededed'}">info</mat-icon>
      <h3>Правила сервера</h3>
    </div>
    <div class="rulesWrapper">
      <!--
      <nav class="rulesHeaders">
        <button class="active">Общие сведения</button>
        <button>Термины и понятия</button>
        <button>Общие правила</button>
        <button>Чат</button>
      </nav>
      -->
      <mat-button-toggle-group #group="matButtonToggleGroup"
                               fxLayout="column"
                               [ngStyle]="{'border-radius':0}">
        <mat-button-toggle value="left">
          Общие сведения
        </mat-button-toggle>
        <mat-button-toggle value="center">
          Термины и понятия
        </mat-button-toggle>
        <mat-button-toggle value="right">
          Общие правила
        </mat-button-toggle>
        <mat-button-toggle value="justify">
          Чат
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="rulesContent">
        <p>- Официальная группа сервера (отвечает на сообщения только бот): vk.com/nexuscraftmc</p>
<p>- Техническая поддержка: vk.com/ncsup</p>
<p>- Если в правиле есть подпункты, то данные подпункты относятся к основному пункту, наказания за ситуации, описанные в подпунктах прописаны в основном пункте правила.</p>
<p>1 Зарегистрировавшись на наших серверах, вы тем самым соглашаетесь со всеми правилами, перечисленными ниже.</p>
<p>2 Меры наказания за нарушения правил могут изменяться в конкретном случае администрацией проекта.</p>
<p>3 Если в данных правилах не указаны меры наказания за некоторые нарушения, значит, за эти нарушения мера наказания назначается администрацией в зависимости от их мнения.</p>
<p>4 Создатель сервера вправе наказать игрока по причине, не указанной в настоящих правилах.</p>
<p>5 Техническая поддержка не занимается восстановлением аккаунтов. Покупайте восстановление на сайте: nex-craft.ru</p>
<p>6 Восстановить аккаунт можно с помощью бота в сообщениях группы ВКонтакте, либо с помощью бота в Телеграмме. Для восстановления аккаунт должен быть привязан к вашей учетной записи.</p>
<p>7 Привилегия покупается только на один сервер, выбранный вами при покупке.</p>
<p>8 Кейсы покупаются на все сервера, например, купив кейсы на 1 сервер вы также сможете открыть их на 2 сервере.</p>
<p>9 Запрещается распространять данные про покупку привилегии (например, передавать кому-либо чек оплаты). При восстановлении аккаунта вам могут отказать, либо вовсе снять донат. Исключением является, если вы купили привилегию знакомому.</p>
<p>10 Передача аккаунта, дать поиграть аккаунт другу, продажа аккаунта, обмен аккаунтами являются нарушениями. Наказание выдается на усмотрение администрации проекта в зависимости от перечисленных в данном правиле нарушений.</p>
<p>11 Попытка ввода администрации сервера в заблуждение, например, предоставление неверных данных об оплате и т.п. обман наказывается на усмотрение администрации проекта.</p>
<p>12 Администрация оставляет за собой право отказать вам в решении ваших проблем без объяснения причины, если вы ведёте себя неадекватно и т.п.</p>
<p>13 Запрещено трактовать правила в свою пользу. Наказание выдается на усмотрение администрации проекта.</p>
<p>14 Запрещается выпрашивать у администрации сервера снятие наказания с вас, если вы наказаны не просто так. Даже если вы все осознали и раскаиваетесь, и очень просите.</p>
<p>15 Запрещается использование, сокрытие багов, дюпов, лаг-машин от администрации. Наказание (в случае сокрытия) выдается на усмотрение администрации проекта.</p>
<p>15.1 Наказание может выдаваться не только тем, кто строил, но и тем, кто просто знал или видел строительство или какой-то баг, но не рассказывал или использовал в своих целях данную информацию.</p>
<p>16 Администрация обязуется относиться не предвзято к каждому из игроков, не обращая внимания на личные неприязни или обиды.</p>
<p>17 Администрация вправе разрешить выдать наказание, которое запрещено выдавать игроку правилами проекта. В таком случае игрок, которому разрешили забанить от имени администрации обязуется указать после причины наказания, что данный бан разрешён админами. Пример: «Вредил серверу (забанить разрешил админ)»</p>
<p>17.1 Если игрок выдаст подобное наказание без разрешения одного из администраторов, то это будет нарушением.</p>
<p>18 Если привилегия игрока не позволяет наказать игрока на отведенный срок в правилах, то игрок может наказать на доступный его привилегии срок.</p>
<p>18.1 Если игроку не доступно наказание, которое указано в правилах, то такому игроку разрешается наказывать на предоставленный ему его донатом срок (кик не считается за наказание, кик – это предупреждение). Донатер с привилегией выше имеет право перенаказать нарушителя, но он также обязуется иметь доказательства на данное нарушение.</p>
<p>18.2 Если донатер наказал игрока за приуменьшение срока, которому донатом не доступно наказать на верный срок, указанный в правилах, то это ошибка донатера и такой бан считается за бан без причины.</p>
      </div>
    </div>
  </div>
</section>
