<section class="server-rules">
  <div class="rulesContainer">
    <div class="headerWrapper">
      <mat-icon [ngStyle]="{'color': '#ededed'}">info</mat-icon>
      <h3>Правила сервера</h3>
    </div>
    <div class="rulesWrapper">
      <mat-button-toggle-group #group="matButtonToggleGroup"
                               fxLayout="column"
                               [ngStyle]="{'border-radius':0}"
                               value="general-info">
        <mat-button-toggle value="general-info" (click)="showRule(1)">
          Общие сведения
        </mat-button-toggle>
        <mat-button-toggle value="terms-concepts" (click)="showRule(2)">
          Термины и понятия
        </mat-button-toggle>
        <mat-button-toggle value="general-rules" (click)="showRule(3)">
          Общие правила
        </mat-button-toggle>
        <mat-button-toggle value="chat" (click)="showRule(4)">
          Чат
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="rulesContent"
           [ngSwitch]="rules">
        <div class="general-info" *ngSwitchCase="1">
          <p>- Официальная группа сервера (отвечает на сообщения только бот): vk.com/nexuscraftmc</p>
          <p>- Техническая поддержка: vk.com/ncsup</p>
          <p>- Если в правиле есть подпункты, то данные подпункты относятся к основному пункту, наказания за ситуации, описанные в подпунктах прописаны в основном пункте правила.</p>
          <p>1 Зарегистрировавшись на наших серверах, вы тем самым соглашаетесь со всеми правилами, перечисленными ниже.</p>
          <p>2 Меры наказания за нарушения правил могут изменяться в конкретном случае администрацией проекта.</p>
          <p>3 Если в данных правилах не указаны меры наказания за некоторые нарушения, значит, за эти нарушения мера наказания назначается администрацией в зависимости от их мнения.</p>
          <p>4 Создатель сервера вправе наказать игрока по причине, не указанной в настоящих правилах.</p>
          <p>5 Техническая поддержка не занимается восстановлением аккаунтов. Покупайте восстановление на сайте: nex-craft.ru</p>
          <p>6 Восстановить аккаунт можно с помощью бота в сообщениях группы ВКонтакте, либо с помощью бота в Телеграмме. Для восстановления аккаунт должен быть привязан к вашей учетной записи.</p>
          <p>7 Привилегия покупается только на один сервер, выбранный вами при покупке.</p>
          <p>8 Кейсы покупаются на все сервера, например, купив кейсы на 1 сервер вы также сможете открыть их на 2 сервере.</p>
          <p>9 Запрещается распространять данные про покупку привилегии (например, передавать кому-либо чек оплаты). При восстановлении аккаунта вам могут отказать, либо вовсе снять донат. Исключением является, если вы купили привилегию знакомому.</p>
          <p>10 Передача аккаунта, дать поиграть аккаунт другу, продажа аккаунта, обмен аккаунтами являются нарушениями. Наказание выдается на усмотрение администрации проекта в зависимости от перечисленных в данном правиле нарушений.</p>
          <p>11 Попытка ввода администрации сервера в заблуждение, например, предоставление неверных данных об оплате и т.п. обман наказывается на усмотрение администрации проекта.</p>
          <p>12 Администрация оставляет за собой право отказать вам в решении ваших проблем без объяснения причины, если вы ведёте себя неадекватно и т.п.</p>
          <p>13 Запрещено трактовать правила в свою пользу. Наказание выдается на усмотрение администрации проекта.</p>
          <p>14 Запрещается выпрашивать у администрации сервера снятие наказания с вас, если вы наказаны не просто так. Даже если вы все осознали и раскаиваетесь, и очень просите.</p>
          <p>15 Запрещается использование, сокрытие багов, дюпов, лаг-машин от администрации. Наказание (в случае сокрытия) выдается на усмотрение администрации проекта.</p>
          <p>15.1 Наказание может выдаваться не только тем, кто строил, но и тем, кто просто знал или видел строительство или какой-то баг, но не рассказывал или использовал в своих целях данную информацию.</p>
          <p>16 Администрация обязуется относиться не предвзято к каждому из игроков, не обращая внимания на личные неприязни или обиды.</p>
          <p>17 Администрация вправе разрешить выдать наказание, которое запрещено выдавать игроку правилами проекта. В таком случае игрок, которому разрешили забанить от имени администрации обязуется указать после причины наказания, что данный бан разрешён админами. Пример: «Вредил серверу (забанить разрешил админ)»</p>
          <p>17.1 Если игрок выдаст подобное наказание без разрешения одного из администраторов, то это будет нарушением.</p>
          <p>18 Если привилегия игрока не позволяет наказать игрока на отведенный срок в правилах, то игрок может наказать на доступный его привилегии срок.</p>
          <p>18.1 Если игроку не доступно наказание, которое указано в правилах, то такому игроку разрешается наказывать на предоставленный ему его донатом срок (кик не считается за наказание, кик – это предупреждение). Донатер с привилегией выше имеет право перенаказать нарушителя, но он также обязуется иметь доказательства на данное нарушение.</p>
          <p>18.2 Если донатер наказал игрока за приуменьшение срока, которому донатом не доступно наказать на верный срок, указанный в правилах, то это ошибка донатера и такой бан считается за бан без причины.</p>
        </div>
        <div class="terms-concepts" *ngSwitchCase="2">
          <p><b>Пользователь</b> – лицо, пользующееся сервисами проекта по средствам программных решений и продуктов, предоставляемых Администрацией. Обязанность за соблюдением возрастных ограничений, лицами не достигшими возраста 18 лет, лежит полностью на родителях и иных законных представителях.</p>
          <p><b>Администрация</b> – лица, наделенные исключительными правами в управлении игровым процессом и всем проектом.</p>
          <p><b>Модерация</b> – лица, наделенные на безвозмездной основе группой прав для регулирования игрового процесса.</p>
        </div>
        <div class="general-rules" *ngSwitchCase="3">
          <p>1.1. Играя на наших серверах, вы тем самым соглашаетесь со всеми правилами, перечисленными ниже. В случае несогласия, игрок обязуется прекратить использование сервисов проекта.</p>
          <p>1.2. Незнание правил не освобождает вас от ответственности. Взлом вашего аккаунта не является оправданием, если вас обвиняют в нарушении правил.</p>
          <p>1.3. Администратор управляет проектом строго по своему усмотрению и вправе наказать игрока по причине, не указанной в правилах и без объяснения причин.</p>
          <p>1.4. Сервис бесплатен и предоставляется «как есть» без каких-либо гарантий правильной работы. Администратор и Модераторы не возвращают вещи, потерянные в результате бага, отката, обмана, гриферства, воровства и т.д. и т.п.</p>
          <p>1.4.1. Все пожертвования, которые делаются игроками, делаются на добровольной основе и идут на поддержку и развитие всего проекта и серверов и осуществляются только через Наш сайт.</p>
          <p>1.4.2. Ни при каких условиях Администратор не обязан возвращать вам утраченные вещи.</p>
          <p>1.5. Так как не всегда возможно точно определить нарушение какого-либо пункта правил, окончательное решение остается за Администратором.</p>
          <p>1.6. Все изменения правил согласуются с Администратором и дополняются, если они не полны или не ясны. Правила могут быть изменены в любое время без оповещения игроков.</p>
          <p>1.7. Модератор на свое усмотрение может смягчить или увеличить наказание для игрока.</p>
          <p>1.8. Модератор, Хелпер и Чат-менеджер – доверенные лица администрации, ответственные за поддержание порядка на форуме и на сервере(серверах) вверенных им, соблюдающие настоящие Правила и Правила для Администрации серверов.</p>
          <p>Модераторы/Хелперы/Чат-менеджеры не трактуют правила буквально или же формально, в спорных вопросах руководствуются лишь целью созданных правил и соображениями здравого смысла. Каждая спорная ситуация, возникшая на форуме или в игре, решается строго индивидуально.</p>

          <p>2.1. Запрещено обращаться к Администрации сервера без крайней необходимости. Любое обращения к Администрации должно содержать четкое изложение проблемы.</p>
          <p>2.2. Запрещено неуважительное отношение к Администрация сервера, как на форуме, так и в игре.</p>
          <p>2.3. Запрещены угрозы, просьбы мольбы и т.п. в адрес Администрации как в игре, так и на форуме, в том числе и при личной переписки.</p>
          <p>2.4. Запрещено вмешиваться в работу администратора путем написание ему личных сообщений в игре с наставлениями в его работе.</p>
          <p>2.5. Запрещено обращаться к Администратору без причины, будь то на форуме либо в игре.</p>
          <p>2.6. Запрещено пререкание с Администрацией или Модераторами и оспаривание его действий (если Вас что-то не устраивает, вы можете воспользоваться статьей 1.12. данных Правил).</p>
        </div>
        <div class="terms-concepts" *ngSwitchCase="4">
          <p>4.1 Использование выражений, унижающих человеческое достоинство и/или несущих оскорбительную охарактеризацию личности.
          Наказание: мут или бан от 1 до 24 часов (особо злостные нарушители - до 10 дней).</p>
          <p>4.2 /утратило силу/</p>
          <p>4.3 Запрещено обсуждение действий Администраторов и Модераторов на сервере, обсуждение допускается только на форуме проекта.
          Наказание: мут от 1 до 6 часов.</p>
          <p>4.4 Флуд в игровом чате (повторяющиеся одинаковые или имеющие большую часть одинаковых символов сообщения более 3 раз являются флудом), а также бессмысленные сообщения (вфврбр, %*:№*«; и подобные) и сообщения написанные большими буквами (Капсом) многократно (больше 3 раз).
          Наказание: первое нарушение - Мут до 30 мин., при повторных нарушениях – мут до суток.</p>
          <p>4.4.1 Рекламирование магазина и/или варпа разрешено не чаще, чем раз в 10 мин.
          Наказание: первое нарушение - мут до 30 мин., при повторных нарушениях – мут до 12 часов.</p>
          <p>4.4.2 Злоупотребление командами, отправляющими сообщения в игровой чат.
          Наказание: бан от 1 до 24 часов.</p>
          <p>4.5 Несогласованная с Администрацией реклама любыми способами.
          Наказание: бан навсегда.</p>
          <p>4.5.1 Сообщения, содержащие любые ссылки кроме тех, что ведут на официальный сайт/форум/дискорд проекта или вики.
          Наказание: мут от 1 до 24 часов.</p>
          <p>4.6 Мат в игровом чате.
          Наказание: первое нарушение - предупреждение или мут от 1 до 3-х часов, при повторных нарушениях – мут до суток.</p>
          <p>4.7 Сообщения, содержащие в себе троллинг, порнографический, насильственный или провокационный характер.
          Наказание: предупреждение, мут от 1 до 24 часов. При систематических нарушениях - бан до 10 дней.</p>
          <p>4.8 Запрещено присваивать нецензурные, оскорбительные и провокационные названия.
          Наказание: предупреждение(варн) или бан от 1 до 24 часов.</p>
        </div>
      </div>
    </div>
  </div>
</section>
