section.servers {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  justify-content: center;
}

.serverTile {
  max-width: 458px;
  min-height: 311px;
  border-radius: 11px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  cursor: pointer;
}

.serverTile:hover {
  transition: .2s
}

.prpg {
  background-image: url(../../../../assets/img/Server1.png);
}

.prpg:hover {
  box-shadow: 0 0 50px 15px #48abe0;
}

.space {
  background-image: url(../../../../assets/img/Server2.png);
}

.space:hover {
  box-shadow: 0 0 50px 15px rgba(240, 146, 255, 0.82);
}

.ronin {
  background-image: url(../../../../assets/img/Server3.png);
}

.ronin:hover {
  box-shadow: 0 0 50px 15px #e04848;
}

.aitech {
  background-image: url(../../../../assets/img/Server4.png);
}

.aitech:hover {
  box-shadow: 0 0 50px 15px #3bdc46;
}

.arena {
  background-image: url(../../../../assets/img/Server5.png);
}

.arena:hover {
  box-shadow: 0 0 50px 15px #ffffff;
}

.serverTile span {
  color: white;
  font-size: 14px;
}

.tileHeader {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.tileLogo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.4);
  display: grid;
  justify-content: center;
  align-items: center;
}

.headerSign {
  display: grid;
  flex-direction: column;
  justify-content: center;
  grid-template-rows: 27px 1fr 27px;
}

.headerSign h3 {
  color: white;
  font-size: 32px;
  margin: 0;
}

.serverName {
  display: flex;
  column-gap: 3px;
}

.serverVersion {
  background: linear-gradient(97.69deg, #12C2E9 7.04%, #C471ED 51.86%, #F64F59 97.06%);
  display: grid;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  padding: 3px 10px;
  text-align: center;
}

.playersOnline {
  background: linear-gradient(97.69deg, #12C2E9 7.04%, #C471ED 51.86%, #F64F59 97.06%);
  display: grid;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  padding: 3px 10px;
  text-align: center;
}

.tileDescription {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  flex-grow: 1;
}
