<section class="servers">
  <div class="serverTile prpg">
    <div class="tileHeader">
      <div class="tileLogo">
        <img src="../../../../assets/img/server_icon_1.png" alt="server icon">
      </div>
      <div class="headerSign">
        <div class="spacing"></div>
        <div class="serverName">
          <h3>PhantomRPG</h3>
          <div class="serverVersion">
            <span>1.16.5</span>
          </div>
        </div>
        <div class="playersOnline">
          <span>30 игроков</span>
        </div>
      </div>
    </div>
    <div class="tileDescription">
      <span>
        Погрузитесь в захватывающий мир
      средневекового фентези, где вас будут ждать уникальные
      квесты, своя карта, огромное количество разновидностей
      оружия, брони, магии. Сервер представляет из себя класс
      ическую модель MMORPG с прокачкой персонажа.
      </span>
    </div>
  </div>
  <div class="serverTile space">
    <div class="tileHeader">
      <div class="tileLogo">
        <img src="../../../../assets/img/server_icon_2.png" alt="server icon">
      </div>
      <div class="headerSign">
        <div class="spacing"></div>
        <div class="serverName">
          <h3>Space</h3>
          <div class="serverVersion">
            <span>1.16.5</span>
          </div>
        </div>
        <div class="playersOnline">
          <span>15 игроков</span>
        </div>
      </div>
    </div>
    <div class="tileDescription">
      <span>
        Окажитесь на космическом корабле, где будете добывать еду, ресурсы и валюту для развития. На сервере присутствует уникальная система криптовалюты, различные фантастические миры.
      </span>
    </div>
  </div>
  <div class="serverTile ronin">
    <div class="tileHeader">
      <div class="tileLogo">
        <img src="../../../../assets/img/server_icon_3.png" alt="server icon">
      </div>
      <div class="headerSign">
        <div class="spacing"></div>
        <div class="serverName">
          <h3>Ronin</h3>
          <div class="serverVersion">
            <span>1.16.5</span>
          </div>
        </div>
        <div class="playersOnline">
          <span>45 игроков</span>
        </div>
      </div>
    </div>
    <div class="tileDescription">
      <span>
        Погрузитесь в захватывающий мир средневекового фентези, где вас будут ждать уникальные квесты, своя карта, огромное количество разновидностей оружия, брони, магии. Сервер представляет из себя классическую модель MMORPG с прокачкой персонажа.
      </span>
    </div>
  </div>
  <div class="serverTile aitech">
    <div class="tileHeader">
      <div class="tileLogo">
        <img src="../../../../assets/img/server_icon_4.png" alt="server icon">
      </div>
      <div class="headerSign">
        <div class="space"></div>
        <div class="serverName">
          <h3>AITech</h3>
          <div class="serverVersion">
            <span>1.16.5</span>
          </div>
        </div>
        <div class="playersOnline">
          <span>13 игроков</span>
        </div>
      </div>
    </div>
    <div class="tileDescription">
      <span>
        Интереснейший мир, где можно написать свою программу для искуственного интеллекта, чтобы сражаться с другими игроками на поле боя! Уникальные крафты, продуманная механика роботов ждёт вас на этом сервере.
      </span>
    </div>
  </div>
  <div class="serverTile arena">
    <div class="tileHeader">
      <div class="tileLogo">
        <img src="../../../../assets/img/server_icon_5.png" alt="server icon">
      </div>
      <div class="headerSign">
        <div class="spacing"></div>
        <div class="serverName">
          <h3>Arena</h3>
          <div class="serverVersion">
            <span>1.16.5</span>
          </div>
        </div>
        <div class="playersOnline">
          <span>85 игроков</span>
        </div>
      </div>
    </div>
    <div class="tileDescription">
      <span>
            Окунитесь в мир битв и сражений! Сервер представляет собой систему дуэлей и командных сражений. Выигрывайте, улучшайте своё вооружение или покупайте новое!
      </span>
    </div>
  </div>
</section>
