.product-item-wrapper {
  display: grid;
  margin: 0 auto;
  width: 220px;
  height: 300px;
  background-color: #D9D9D9;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  padding: 10px 3px 10px 3px;
}

.product-info-part {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row-gap: 10px;
}

.product-round {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
}

.product-info-part img {
  width: 60px;
  height: 60px;
}

p.title {
  font-size: 18px;
}

.product-quantity-menu {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 32px;
  grid-column-gap: 12px;
}

.quantity-count {
  display: grid;
  justify-content: center;
  align-items: center;
}

button.product-btn {
  background-color: rgba(231, 50, 223, 0.7);
  color: #fff;
  border: 0px;
  cursor: pointer;
}

button.product-btn:hover {
  background-color: rgba(231, 50, 223, 0.8);
}

.product-add-to-cart-btn {
  display: grid;
  align-items: center;
  height: 32px;
  background-color: rgba(231, 50, 223, 0.7);
  color: white;
}
