<div class="product-item-wrapper">
  <div class="product-info-part">
    <div class="product-round">
      <img src="/assets/img/minecraft-items/crystal.png" alt="">
    </div>
  </div>
  <div class="product-info-part">
    <p class="title"><!--{{ product.title }}--></p>
  </div>
  <div class="product-info-part">
    <p>Цена: <!--{{ product.price }} рублей--></p>
  </div>
  <div class="product-info-part">
    <div class="product-quantity-menu">
      <button type="button" class="product-btn">-</button>
      <div class="quantity-count">
        <span>1</span>
      </div>
      <button type="button" class="product-btn">+</button>
    </div>
    <button type="button" class="product-add-to-cart-btn product-btn">Добавить в корзину</button>
  </div>
</div>
