.tiny-notification {
  background-color: rgba(240, 146, 255, 0.74);
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.header-block {
  margin-right: 10px;
}

.header-title {
  padding: 0;
  margin: 0;
}

.close-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  align-items: center;
}

.close-button {
  cursor: pointer;
}
