<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon [ngStyle]="{'color': '#ededed'}">home</mat-icon>
    <a routerLink="/"><span class="nav-caption">Главная</span></a>
  </a>
  <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
    <mat-icon [ngStyle]="{'color': '#ededed'}">play_circle_filled</mat-icon>
    <a routerLink="/play"><span class="nav-caption">Играть</span></a>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <mat-icon [ngStyle]="{'color': '#ededed'}">description</mat-icon>
    <a routerLink="/rules"><span class="nav-caption">Правила</span></a>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <mat-icon [ngStyle]="{'color': '#ededed'}">dns</mat-icon>
    <a routerLink="/server-list"><span class="nav-caption">Сервера</span></a>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <mat-icon [ngStyle]="{'color': '#ededed'}">account_balance</mat-icon>
    <a routerLink="/shop"><span class="nav-caption">Донат</span></a>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <mat-icon [ngStyle]="{'color': '#ededed'}">account_balance</mat-icon>
    <a routerLink="/faq"><span class="nav-caption">FAQ</span></a>
  </a>
  <span class="example-spacer"></span>
  <div class="loginSection">
    <div class="loginButton">
      <span>Войти</span>
    </div>
  </div>
  <!--
  <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Example</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View profile</button>
    <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
  </mat-menu>
  -->
</mat-nav-list>
