/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';

html {
  box-sizing: border-box;
}

body {
  background-image: url(src/assets/img/backgrounds/background3.png);
  background-size: cover;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

application {
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}
