main {
  display: grid;
  justify-content: center;
}

.product-container {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  background-color: rgba(36, 36, 36, 0.7);
  margin-top: 36px;
  padding: 20px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}
mat-sidenav {
  width: 250px;
}
main {
  padding: 10px;
}
